In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import NMF
ratings = pd.read_csv("./ml-latest-small/ratings.csv",usecols = [0,1,2])
X = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
movies = pd.read_csv("./ml-latest-small/movies.csv",usecols = [1])

In [2]:
param = {'n_components' : 20,'init' : 'random','l1_ratio' : 0,'max_iter' : 20}
nmf_model = NMF(**param)
nmf_model.fit(X)
W=nmf_model.transform(X)
H=nmf_model.components_
Xhat = pd.DataFrame(np.dot(W,H))
print('predict:')
Xhat

predict:

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,2.650055,1.058449,1.110011,0.024244,0.183477,1.263606,0.378500,0.019364,0.167724,1.605054,...,0.000115,0.000098,0.000131,0.000131,0.000115,0.000131,0.000115,0.000115,0.000115,0.000401
1,0.203676,0.041615,0.000000,0.000000,0.019377,0.172698,0.000000,0.000000,0.000000,0.004470,...,0.005382,0.004613,0.006151,0.006151,0.005382,0.006151,0.005382,0.005382,0.005382,0.018822
2,0.075875,0.060794,0.073505,0.000000,0.000000,0.034850,0.010637,0.000000,0.007265,0.060984,...,0.000043,0.000037,0.000049,0.000049,0.000043,0.000049,0.000043,0.000043,0.000043,0.000000
3,2.062874,0.329728,0.213133,0.067022,0.256139,0.782212,0.291773,0.015703,0.104151,0.218086,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.994747,1.021653,0.326371,0.084741,0.365676,0.496302,0.399178,0.108062,0.117305,1.361582,...,0.000296,0.000254,0.000339,0.000339,0.000296,0.000339,0.000296,0.000296,0.000296,0.001037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,1.929708,0.963138,0.096190,0.048640,0.689787,0.963057,1.572655,0.019590,0.000000,0.625383,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
606,2.161464,1.014256,0.564021,0.027023,0.108694,1.163710,0.185161,0.064691,0.056062,1.641961,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
607,2.822480,1.719334,1.159371,0.034683,0.259519,3.195885,0.441209,0.456448,0.093213,3.847013,...,0.001423,0.001220,0.001626,0.001626,0.001423,0.001626,0.001423,0.001423,0.001423,0.026832
608,0.584170,0.776505,0.127652,0.043852,0.138296,0.177594,0.138846,0.072104,0.000000,1.113962,...,0.000212,0.000182,0.000242,0.000242,0.000212,0.000242,0.000212,0.000212,0.000212,0.000741
609,3.734215,0.880994,0.052084,0.000000,0.015520,4.086762,0.009821,0.000000,0.157144,0.545969,...,0.028146,0.024125,0.032167,0.032167,0.028146,0.032167,0.028146,0.028146,0.028146,0.004948

In [3]:
user_id = 1
user_data = Xhat.loc[[user_id-1]].values.tolist()
user_data.append(X.loc[[user_id]].values.tolist()[0])
user_data = pd.DataFrame(user_data)
user_data=user_data.sort_values(0,axis = 1, ascending=0).transpose()
recommend_list=user_data[0][user_data[1]==0][:5]
recommend_list

507     4.160334
901     3.669267
2077    3.138258
793     3.122374
1444    2.719466
Name: 0, dtype: float64

In [4]:
#recommend for existing user
def recommend(X, Xhat, user_id, length):
    user_data = Xhat.loc[[user_id-1]].values.tolist()
    user_data.append(X.loc[[user_id]].values.tolist()[0])
    user_data = pd.DataFrame(user_data)
    user_data=user_data.sort_values(0,axis = 1, ascending=0).transpose()
    recommend_list=user_data[0][user_data[1]==0][:length]
    return movies.T[recommend_list.index.values.tolist()]
recommend(X,Xhat,1,5)

,507,901,2077,793,1444
title,Terminator 2: Judgment Day (1991),Brazil (1985),"Iron Giant, The (1999)",Die Hard (1988),Labyrinth (1986)

In [5]:
recommend(X,Xhat,133,10)

,138,322,134,512,253,275,378,302,32,287
title,Die Hard: With a Vengeance (1995),"Lion King, The (1994)",Crimson Tide (1995),Beauty and the Beast (1991),Outbreak (1995),Stargate (1994),Cliffhanger (1993),Ace Ventura: Pet Detective (1994),Babe (1995),Star Trek: Generations (1994)